# Logistic Regression

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Importing the dataset

In [4]:
ds = pd.read_csv('Social_Network_Ads.csv')

In [9]:
ds.shape
ds.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

# Checking for any null values

In [8]:
ds.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

# Dropping unnecessary column from dataset

In [10]:
ds = ds.drop('User ID',axis = 1)
ds.head()

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

# Encoding the column

In [12]:
ds['Gender'] = ds['Gender'].replace({'Female':0,'Male':1})
ds.head()

   Gender  Age  EstimatedSalary  Purchased
0       1   19            19000          0
1       1   35            20000          0
2       0   26            43000          0
3       0   27            57000          0
4       1   19            76000          0

# Train and Split the data

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

x = ds.drop('Purchased',axis=1)
y = ds['Purchased']

xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.1,random_state=0)

# Evaluating the model

In [34]:
logReg = LogisticRegression()


logReg.fit(xtrain,ytrain)


y_trainPred = logReg.predict(xtrain)
y_testPred = logReg.predict(xtest)

In [39]:
from sklearn import metrics

# Train accuracy

metrics.accuracy_score(ytrain,y_trainPred)*100

62.5

In [38]:
# Test accuracy

metrics.accuracy_score(ytest,y_testPred)*100

80.0